/* ==========================================================================
   Typography
   ========================================================================== */

.projects p {
  font-size: 18px;
  line-height: 27px;
  width: 545px;
}


/* ==========================================================================
   Embedded content
   ========================================================================== */

.proj-profile-myballot {
  background: url("../img/myballot-thumb.png") 60px center no-repeat;
}

.proj-profile-myshoefits {
  background: url("../img/myshoefits-thumb.png") 60px center no-repeat;
}

.proj-profile-reneeflint {
  background: url("../img/reneeflint-thumb.png") 60px center no-repeat;
}

.proj-profile-rnrschoenbeck {
  background: url("../img/rnrschoenbeck-thumb.png") 60px center no-repeat;
}

/* ==========================================================================
   Lists
   ========================================================================== */

ul, ol, li {
  margin: 0;
  padding: 0;
}

.projects li {
  padding-left: 335px;
  margin: 50px 0;
}




/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
